<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message!</title>
</head>
<body>
    <form action="/new" method="POST">
        <label>User:</label>
        <input type="text" name="username"><br><br>
        <label>Message:</label>
        <textarea name="messageText" id="message-text"></textarea>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to messages</a>
</body>
</html>